/* Reset e Variáveis */
:root {
  --backgroundColor: #f3efec;
  --primaryColor: #393737;
  --secondaryColor: #400a19;
  --navColor: #bdae9a;
  --buttonColor: #9b876d;
  --fontPrincipal: "Mulish", sans-serif;
  --fontSecondary: "Playfair Display", serif;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

body {
  background-color: var(--backgroundColor);
  font-family: var(--fontPrincipal);
}

nav {
  position: fixed;
  width: 100%;
  max-width: var(--max-width);
  z-index: 9;
}

#logo {
  max-width: 150px;
}

.nav_menu_btn {
  font-size: 1.5rem;
  color: var(--secondaryColor);
  cursor: pointer;
}

.nav_links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--buttonColor);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav_links.open {
  transform: translateY(0);
}
