* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #9b876d;
  --greyColor: #393737;
  --white: #f5f5f5;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  text-decoration: none;
  outline: none;
  font-family: "Mulish", sans-serif;
}

body {
  background-color: var(--white);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 8rem;
}

section {
  margin-top: 8rem;
}

a {
  color: var(--greyColor);
  text-decoration: none;
  text-transform: uppercase;
}

nav {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
}

.h1-title {
  font-size: 4.8rem;
  font-family: "Playfair Display", serif;
}

.menu {
  font-weight: 600;
}

.nav-content {
  display: flex;
  gap: 0.8rem;
}

.hero-container {
  font-family: "Playfair Display", serif;
  color: #393737;
  font-size: 3.5rem;
  text-align: center;
}

.card {
  width: 350px;
  display: flex;
  font-family: "Playfair Display", serif;
}

.card img {
  width: 350px;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-content p {
  font-size: 1.6rem;
}
