/* Reset e Variáveis */
:root {
  --whiteSmoke: #f5f5f5;
  --black: #202020;
  --secondaryColor: #400a19;
  --navColor: #bdae9a;
  --buttonColor: #9b876d;
  --fontPrincipal: "Mulish", sans-serif;
  --fontSecondary: "Playfair Display", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  background-color: var(--whiteSmoke);
  font-family: var(--fontPrincipal);
}

a {
  color: var(--secondaryColor);
  text-decoration: none;
  outline: none;
}

h2 {
  font-size: 2rem;
  font-family: var(--fontSecondary);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  height: 3rem;
}

.nav-container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--whiteSmoke);
  padding: 0 3rem;
}

.nav {
  display: flex;
  align-items: center;
}

.network-logo {
  display: flex;
  gap: 0.8rem;
}

.ri-instagram-line,
.ri-pinterest-line,
.ri-tiktok-line,
.ri-youtube-line {
  font-size: 1.1rem;
}
.menu {
  list-style: none;
  display: flex;
  gap: 0.2rem;
  font-family: var(--fontPrincipal);
}

.menu a {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--primaryColor);
  transition: 0.25s;
}

.btn-menu {
  display: none;
}

.ri-menu-line {
  font-size: 2rem;
}

.hero-container {
  width: 100%;
  height: 22rem;
  background-position: center;
  background-image: url(../img/heroimg.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero h1 {
  font-family: var(--fontSecondary);
  color: white;
  font-size: 2rem;
  font-style: italic;
  text-shadow: 2px 2px 4px #3937378e;

  max-width: 80%;
}

/* SECTION: SERVICES */

#services {
  padding-top: 2rem;
  background-color: #fff;
}

#services h2 {
  text-align: center;
}

.services-wrapper {
  padding: 4rem 10rem;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.services-card {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.img-service1 {
  background-image: url("../img/colorcard.jpg");
}

.img-service2 {
  background-image: url("../img/kibbecard.jpg");
}

.img-service1,
.img-service2 {
  width: 500px;
  height: 600px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

/* SECTION: TESTIMONIALS */

#testimonials {
  width: 100%;
  height: 600px;
}

/* SECTION: ABOUT ME */

#about {
  background-color: #fff;
}

.about-wrapper {
  padding: 4rem 10rem;
  display: flex;
  gap: 7rem;
  justify-content: center;
}

.about-wrapper img {
  max-height: 35rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
  transition: ease-in-out 0.25s;
}

.about-wrapper img:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.192);
}

.text-content {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5rem;
}

.text-content h2 {
  color: var(--secondaryColor);
  font-family: var(--fontSecondary);
  margin-bottom: 1rem;
}

.signature {
  font-family: var(--fontSecondary);
  font-weight: 700;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: right;
}

#contact {
  background-color: var(--backgroundColor);
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-wrapper {
  padding: 4rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.contact-card {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5rem;
  font-family: var(--fontPrincipal);
}

.contact-card h2 {
  color: var(--secondaryColor);
  font-family: var(--fontSecondary);
  margin-bottom: 1rem;
}

label {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: transparent;
  border: 0.4px var(--buttonColor);
  border-style: none none solid none;
  border-radius: 2px;
  font-family: var(--fontPrincipal);
}

textarea {
  height: 10rem;
  resize: none;
}

.form-group,
textarea {
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  width: 60%;
  align-self: center;
  background-color: var(--buttonColor);
  color: var(--black);
  font-family: var(--primaryColor);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .menu {
    display: block;
    position: absolute;
    top: 7.5rem;
    left: 0;
    background: var(--navColor);
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: height 0.5s ease, visibility 0.5s ease;
  }
  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }
  .btn-menu {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0;
    cursor: pointer;
  }

  .nav.active .menu {
    height: 100%;
    visibility: visible;
    overflow-y: auto;
  }
}
